@tailwind base;
@tailwind components;
@tailwind utilities;





.flash-bar {
  position: relative;
  overflow: hidden;
}

.flash-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  height: 100%;
  width: 50%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
  animation: flashMove 2s linear infinite;
}

@keyframes flashMove {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}



